body {
  margin: 0;
  padding: 0;
  background-color: rgb(240, 231, 219);
}

.App {
  height: 100vh;
  margin: 0 auto;
  height: 300px;
  background: no-repeat;
}

@media (min-width: 500px) {
  .App {
    max-width: 800px;
    margin: 0 auto;
  }
}

.container3D {
  margin: 0 auto;
  width: 100%;
  height: 360px;
  background: no-repeat;
  display: block;
}

header { 
  cursor: url(./images/pngegg.png) , auto;
}

.text_name  {
  display: block;
  white-space: nowrap;
  width: 20ch;
  border-right: 4px solid;
  animation: typing 2s steps(20), blink .3s infinite step-end alternate;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.my_info  {
  display: block;
  white-space: nowrap;
  width: 55ch;
  border-right: 4px solid;
  animation: typing 6s steps(20), blink .5s infinite step-end alternate;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
} 